.footer_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 216px;
    background: #1D272E;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 0px;
}

.search {
    span {
        font-family: Bebas Neue Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: white;
        a {
            color: #BD7500;
            text-decoration: none;
        }
    }    
}

form {
    position: relative;
    input {
        width: 400px;
        height: 34px;
        background: #FFFFFF;
        border: 1px solid #BD7500;
        box-sizing: border-box;
        border-radius: 23px;
    }
    button {
        position: absolute;
        right: 0;
        width: 132px;
        height: 34px;
        background: #FFB33A;
        border: 1px solid #FFB33A;
        box-sizing: border-box;
        border-radius: 23px;
        font-family: Bebas Neue Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;     
        cursor: pointer;   
    }
}

.social_box {
    width: 174px;
    height: 66px;
    p {
        font-family: Bebas Neue Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
    }
    .social {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
}

.twitter:hover .back_ico {
    fill: white;
    transition:all 0.3s ease;
}

.instagram:hover .back_ico{
    fill: white;
    transition:all 0.3s ease;
}   

.facebook:hover .back_ico{
    fill: white;
    transition:all 0.3s ease;
}

@media screen and (max-width: 1200px) {
    .footer {
        width: 1000px;
    }
}
@media screen and (max-width: 991px) {
    .footer {
        width: 680px;
        .search {
            span {
                font-size: 18px;
            }
            form {
                input {
                    width: 300px;
                }
                button {
                    width: 107px;
                }
            }
        }
        .logo {
            img {
                width: 150px;
                height: 150px;
            }
        }
    }
}
.model_content ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}
@media screen and (max-width: 767px) {
    .footer_wrapper {
        height: 124px;
    }
    .footer {
        width: 325px;
        .search {
            span {
                font-size: 10px;
            }
            form {
                input {
                    width: 160px;
                    height: 20px;
                }
                button {
                    width: 70px;
                    font-size: 11px;
                    height: 20px;
                }
            }
        }
        .logo {
            img {
                width: 80px;
                height: 80px;
            }
        }
        .social_box {
            p {
                font-size: 11px;
            }
            width: 69px;
            .social {
                .twitter {
                    width: 20px;
                    height: 20px;
                }
                .instagram {
                    width: 20px;
                    height: 20px;
                }
                .facebook {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}