.header {
    height: 146px; 
    width: 100%;
    background: #1D272E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model_content ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

.nav {
    width: 1155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-family: Bebas Neue Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 0.1em;
        z-index: 10;
    }
    .buy_box {
        cursor: pointer;
        button {
            font-family: Bebas Neue Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
            background: none;
            border: none;
            cursor: pointer;
        }
    }
    .burger_btn {
        display: none;
        background: none;
        cursor: pointer;
    }
}

.modal {
    position: absolute;
    z-index : 100;
    left: -100%;
    top: 80px;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    background-color : rgba(0,0,0,0.8);
    transition: 0.3s;
    display: flex;
    justify-content: center;
}

.open {
    left: 0;
}

.model_content {
    width: 100px;
    margin-top: 30px;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        a {
            text-decoration: none;
            font-family: 'Bebas Neue Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            color: #FFFFFF;
            margin-top: 20px;
        }
    }
}

body.noscroll {
    overflow: hidden;
}

.dropdown {
    position: relative;
    display: block;
    z-index: 5;
}

.dropdown_content {
    display: none;
    position: absolute;
    top: -10px;
    left: -20px;
    z-index: -2;
    width: 252px;
    height: 261px;
    background-image: url(/img/ico/dropdown-BG.svg);
    padding-top: 54px;
    background-repeat: no-repeat;
    li {
        margin-bottom: 15px;
        margin-left: 21px;
        list-style: none;
        z-index: 5;
        a {
            text-transform: none;
            display: flex;
            align-items: center;
            font-family: 'Bebas Neue Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 25px;
            color: #FFFFFF;
        }
    }
}

.dropdown:hover .dropdown_content {
    display: block;
}

@media screen and (max-width: 1200px) {
    .nav {
        width: 800px;
        a {
            font-size: 18px;
        }
        .buy_box button {
            font-size: 16px;
        }
        .dropdown .dropdown_content {
            top: -35px;
            left: -47px;
            transform: scale(0.8);
        }
    }
}

@media screen and (max-width: 991px) {
    .nav {
        width: 650px;
        a {
            font-size: 14px;
        }
        .buy_box button {
            font-size: 14px;
        }
        .dropdown .dropdown_content {
            top: -60px;
            left: -68px;
            transform: scale(0.56);
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        height: 80px;
    }
    .nav {
        width: 265px;
        a {
            font-size: 14px;
            display: none;
        }
        .visible {
            display: block;
            img {
                width: 74px;
                height: 70px;
            }
        }
        .buy_box_visible {
            display: block;
        }
        .burger_btn {
            display: block;
            border: none;
            cursor: pointer;
        }
        p img{
            width: 74px;
            height: 70px;
        }
        .dropdown {
            display: none;
        }
        .buy_box {
            margin-left: 30px;
            img {
                width: 25px;
                height: 21.50px;
            }
            button {
                font-size: 14px;
            }  
        }
        .dropdown .dropdown_content {
            top: -60px;
            left: -68px;
            transform: scale(0.56);
        }
    }
}    